        <%= require('html-loader!./inc/header.html') %>
        <%= require('html-loader!./inc/client-menu.html') %>
        <div id="info" data-current-id="coins" data-main-menu-current-id="private-client-head"></div>
<!-- Main content-->
        <section class="breadcrumbs">
            <div class="breadcrumbs__step">Главная</div>
            <div class="breadcrumbs__step">Частным клиентам</div>
            <div class="breadcrumbs__step"> Монеты  Обмен валюты</div>
            <div class="breadcrumbs__step current">Монеты</div>
        </section>






        <%= require('html-loader!./inc/footer.html') %>
    </body>
</html>