        <%= require('html-loader!./inc/header.html') %>
        <%= require('html-loader!./inc/client-menu.html') %>
        <div id="info" data-current-id="coins" data-main-menu-current-id="private-client-head"></div>
<!-- Main content-->
<!-- breadcrumbs -->
        <section>
            <div class="container">
                <div class="breadcrumbs">
                    <div class="breadcrumbs__step">Главная</div>
                    <div class="breadcrumbs__step">Частным клиентам</div>
                    <div class="breadcrumbs__step"> Монеты и обмен валюты</div>
                    <div class="breadcrumbs__step">Монеты</div>        
                </div>
            </div> 
        </section>
        <section>
            <div class="container">
                <div class="page">
                    <div class="page__sidebar sidebar">
                        <div class="sidebar__overlay"></div>
                        <div class="sidebar__items">
                            <div class="sidebar__item">
                                <div class="sidebar__item-text">
                                    <a href="#">Обмен валюты</a>
                                </div>
                                <div class="sidebar__item-icon"></div>
                            </div>
                            <div class="sidebar__item sidebar__item--selected">
                                <div class="sidebar__item-text">
                                    <a href="coins.html">Монеты</a>
                                </div>
                                <div class="sidebar__item-icon"></div>
                            </div>
                            <div class="sidebar__item">
                                <div class="sidebar__item-text">
                                    <a href="#">Обмен валюты</a>
                                </div>
                                <div class="sidebar__item-icon"></div>
                            </div>
                        </div>
                    </div>
                    <div class="page__content basic-page">
                        <div class="basic-page__title">
                            <h1>Георгий Победоносец (СПМД)</h1>
                        </div>
                        <div class="basic-page__body coin">
                            <div class="coin__info coin-info">
                                <div class="coin-info__wrap">
                                    <div class="coin-info__left coin-img">
                                        <div class="coin-img__main-wrap">
                                            <div class="coin-img__main">
                                                <img src="assets/img/images/coin-av_lg.png" alt="">
                                            </div>
                                        </div>
                                        <div class="coin-img__bar-wrap">
                                            <div class="coin-img__bar">
                                                <div class="coin-img__item">
                                                    <img src="assets/img/images/coin-av_lg.png" alt=""></div>
                                                <div class="coin-img__item">
                                                    <img src="assets/img/images/coin-rev_lg.png" alt=""></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="coin-info__right coin-attr">
                                        <div class="coin-attr__prop coin-prop">
                                            <div class="coin-prop__items text--gray text--S">
                                                <div class="coin-prop__item coin-prop__item--art"><span><b>Артикул: </b>5216-0060-3</span></div>
                                                <div class="coin-prop__item coin-prop__item--date"><span>2022 год выпуска</span></div>
                                                <div class="coin-prop__item coin-prop__item--on-stock text--uppercase text--700"><img src="assets/img/svg/check_mark.svg" alt=""><span>В наличии</span></div>
                                            </div>
                                        </div>
                                        <div class="coin-attr__price coin-price">
                                            <div class="coin-price__wrap">
                                                <div class="coin-price__items">
                                                    <div class="coin-price__item">
                                                        <div class="coin-price__title text--gray text--S text--400">
                                                            <span>Цена продажи</span>
                                                        </div>
                                                        <div class="coin-price__price text--blue text--XL text--700">
                                                            <span>74 000 руб.</span>
                                                        </div>
                                                    </div>
                                                    <div class="coin-price__item">
                                                        <div class="coin-price__title text--gray text--S text--400">
                                                            <span>Цена покупки</span>
                                                        </div>
                                                        <div class="coin-price__price text--blue text--XL text--700">
                                                            <span>53 000 руб.</span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="coin-price__button-wrap">
                                                    <a href="" class="btn coin-price__btn">Купить монету</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <%= require('html-loader!./inc/footer.html') %>
    </body>
</html>