<%= require('html-loader!./inc/header.html') %>
    <%= require('html-loader!./inc/private-menu.html') %>
        <div id="info" data-current-id="rko" data-main-menu-current-id="banking-head"></div>
        <!-- Main content-->
        <section>
            <div class="container">
                <div class="breadcrumbs">
                    <div class="breadcrumbs__step"><a href="/">Главная</a></div>
                    <div class="breadcrumbs__step"><a href="rko.html">Private banking</a></div>
                    <div class="breadcrumbs__step"><a href="rko.html">Расчеты</a></div>
                    <div class="breadcrumbs__step"><span>РКО</span></div>
                </div>
            </div>
        </section>
        <section>
            <div class="container">
                <div class="page">
                    <div class="page__sidebar sidebar">
                        <div class="sidebar__overlay"></div>
                        <div class="sidebar__items">
                            <div class="sidebar__item sidebar__item--selected">
                                <div class="sidebar__item-text">
                                    <a href="rko.html">РКО</a>
                                </div>
                                <div class="sidebar__item-icon"></div>
                            </div>
                            <div class="sidebar__item">
                                <div class="sidebar__item-text">
                                    <a href="">Ячейки</a>
                                </div>
                                <div class="sidebar__item-icon"></div>
                            </div>
                            <div class="sidebar__item">
                                <div class="sidebar__item-text">
                                    <a href="">Премиальный пластиковые карты</a>
                                </div>
                                <div class="sidebar__item-icon"></div>
                            </div>
                            <div class="sidebar__item">
                                <div class="sidebar__item-text">
                                    <a href="">Расчеты при покупке недвижимости<br> с использованием
                                        аккредитива</a>
                                </div>
                                <div class="sidebar__item-icon"></div>
                            </div>
                        </div>
                    </div>
                    <div class="page__content basic-page">
                        <div class="basic-page__wrap">
                            <div class="basic-page__body rko">
                                <div class="rko__title">
                                    <h3>Расчетно-кассовое обслуживание в банке МФК включает в себя классические
                                        банковские услуги</h3>
                                </div>
                                <div class="rko__list">
                                    <ul>
                                        <li class="rko__item">
                                            <p>открытие и ведение банковских счетов в рублях и иностранной валюте;</p>
                                        </li>
                                        <li class="rko__item">
                                            <p>осуществление банковских переводов по оптимальным маршрутам в рублях и
                                                иностранной валюте;</p>
                                        </li>
                                        <li class="rko__item">
                                            <p>оплата регулярных расходов по генеральным поручениям в автоматическом
                                                режиме;</p>
                                        </li>
                                        <li class="rko__item">
                                            <p>розыск сумм, изменение условий и отзыв перевода;</p>
                                        </li>
                                        <li class="rko__item">
                                            <p>предоставление по телефонной, электронной и факсимильной связи
                                                оперативной информации об операциях и остатке на счетах с
                                                учетом требований безопасности;</p>
                                        </li>
                                        <li class="rko__item">
                                            <p>конверсионные и валютно-обменные операции по предварительному заказу и
                                                согласованному курсу;</p>
                                        </li>
                                        <li class="rko__item">
                                            <p>кассовое обслуживание в рублях и иностранной валюте, экспертиза денежных
                                                знаков.</p>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="operations__documentation savingsaccount__documentation">
                            <div class="operations__documentation-nav">
                                <div class="operations__documentation-block">
                                    <div>
                                        <h3 class="operations__documentation-title">
                                            Тарифы
                                        </h3>
                                    </div>
                                    <div class="operations__documentation-list">
                                        <div class="operations__documentation-kind active">
                                            <div class="operations__documentation-file">
                                                <img src="assets/img/images/pdf.png" alt="pdf" width="24px"
                                                    height="30px">
                                                <div class="operations__documentation-content">
                                                    <H5 class="operations__documentation-description">
                                                        Тарифы за услуги физическим лицам по расчетно-кассовому
                                                        обслуживанию (до 01.04.2022)
                                                    </H5>
                                                    <p class="operations__documentation-caracter">
                                                        PDF, 279 КБ / 28.10.2021
                                                    </p>
                                                </div>
                                            </div>
                                            <div class="operations__documentation-file">
                                                <img src="assets/img/images/pdf.png" alt="pdf" width="24px"
                                                    height="30px">
                                                <div class="operations__documentation-content">
                                                    <H5 class="operations__documentation-description">
                                                        Тарифы комиссионного вознаграждения за предоставление услуги
                                                        консультационного обслуживания VIP — клиентов
                                                    </H5>
                                                    <p class="operations__documentation-caracter">
                                                        PDF, 279 КБ / 04 июня 2018
                                                    </p>
                                                </div>
                                            </div>
                                            <div class="operations__documentation-file hide" data-show="no">
                                                <img src="assets/img/images/pdf.png" alt="pdf" width="24px"
                                                    height="30px">
                                                <div class="operations__documentation-content">
                                                    <H5 class="operations__documentation-description">
                                                        Заявление на закрытие счета «МФК Сберегательный»
                                                    </H5>
                                                    <p class="operations__documentation-caracter">
                                                        PDF, 279 КБ / 04 июня 2018
                                                    </p>
                                                </div>
                                            </div>
                                            <div class="operations__documentation-file hide" data-show="no">
                                                <img src="assets/img/images/pdf.png" alt="pdf" width="24px"
                                                    height="30px">
                                                <div class="operations__documentation-content">
                                                    <H5 class="operations__documentation-description">
                                                        Заявление на закрытие и открытие счета «МФК Сберегательный»
                                                    </H5>
                                                    <p class="operations__documentation-caracter">
                                                        PDF, 279 КБ / 04 июня 2018
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <button class="documentation__more more" type="button" id="showmore">
                                Смотреть все
                                <svg class="more-picture">
                                    <use href="/assets/img/svg/sprite/symbol-defs.svg#icon-more" />
                                </svg>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <%= require('html-loader!./inc/footer.html') %>
            </body>

            </html>