<%= require('html-loader!./inc/header.html') %>
    <%= require('html-loader!./inc/client-menu.html') %>
        <div id="info" data-current-id="contributions" data-main-menu-current-id="private-client-head"></div>

        <!-- Main content-->

        <section class="container">
            <div class="second__header-operations">
                <div class="second__text-credits__list">
                    <a class="second__text-credits" href="#">Главная /</a>
                    <a class="second__text-credits" href="contributions.html">Частным клиентам /</a>
                    <a class="second__text-credits" href="contributions.html">Обмен валюты /</a>
                    <a class="second__text-credits current-second__text-credits" href="ubs.html">Единая биометрическая
                        система</a>
                </div>
            </div>
            <div class="operations">
                <!-- <div class="dropdown">
                    <button class="dropbtn">
                        <p class="dropbtn-text">Накопительный счет</p>
                        <img class="dropdown__picture" src="assets/img/icons/ARROW.png" alt="arrow"
                            class="operations__picture" width="20px" height="20px">
                    </button>
                    <div id="myDropdown" class="dropdown-content">
                        <ul class="operations__list__mobile">
                            <li class="operations__list-item__mobile">
                                <a href="contributions.html" class="operations__link__mobile">Вклады</a>
                            </li>
                            <li class="operations__list-item__mobile">
                                <a href="settlement-service.html" class="operations__link__mobile">Расчетное
                                    обслуживание</a>
                            </li>
                            <li class="operations__list-item__mobile">
                                <a href="savingsaccount.html" class="operations__link__mobile">Накопительный счет</a>
                            </li>
                        </ul>
                    </div>
                </div> -->
                <!-- <div class="operations__item">
                    <ul class="operations__list">
                        <li class="operations__list-item ">
                            <a href="contributions.html" class="operations__link ">Вклады</a>

                        </li>
                        <li class="operations__list-item">
                            <a href="settlement-service.html" class="operations__link ">Расчетное обслуживание</a>
                        </li>
                        <li class="operations__list-item current-operations__list-item">
                            <a href="#" class="operations__link current-operations__link">Накопительный счет</a>
                            <img src="assets/img/images/arrow.png" alt="arrow" class="operations__picture" width="20px"
                                height="20px">
                        </li>
                    </ul>
                </div> -->
                <div class="operations__item">
                    <h2 class="second__title-settlement-service contributions_title usb__title">Единая биометрическая
                        система</h2>
                    <div class="ubs__item">
                        <div class="ubs__item-wrapper">
                            <p class="ubs__item-text">
                                В офисах МФК Банка вы можете пройти регистрацию в Единой биометрической системе.
                            </p>
                            <p class="ubs__item-text">
                                Это позволит вам оформлять продукты любого банка дистанционно без личного присутствия.
                            </p>
                        </div>
                        <img src="assets/img/images/ubs.jpg" alt="ubs" class="ubs__item-picture" />
                    </div>
                    <div class="ubs__about">
                        <h4 class="ubs_about-title">
                            Что такое единая биометрическая система?
                        </h4>
                        <p class="ubs__about-text">
                            Удаленная (биометрическая) идентификация — это механизм, позволяющий физическим лицам
                            получать финансовые услуги
                            дистанционно в разных банках, подтвердив свою личность с помощью биометрических персональных
                            данных (изображение лица и
                            голос).
                        </p>
                        <p class="ubs__about-text">
                            В Банке «МЕЖДУНАРОДНЫЙ ФИНАНСОВЫЙ КЛУБ» после проведения идентификации клиента-физического
                            лица при личном присутствии,
                            с его согласия на безвозмездной основе можно зарегистрировать данные в единой системе
                            идентификации и аутентификации
                            (далее — ЕСИА), а также снять биометрические параметры (фото и запись образца голоса) и
                            направить их в Единую
                            биометрическую систему (далее-ЕБС).
                        </p>
                    </div>
                    <div class="ubs__register">
                        <h4 class="ubs_about-title">
                            Как зарегистрироваться
                        </h4>
                        <ul class="ubs__register-list">
                            <li class="ubs__register-item">
                                <h5 class="ubs__register-title">
                                    Обратитесь в один из офисов банка, которые работают с биометрией.
                                </h5>
                                <p class="ubs__register-text">
                                    Клиент должен предоставить паспорт, СНИЛС , а также согласие на обработку
                                    персональных данных, необходимых для
                                    регистрации в ЕСИА
                                </p>
                            </li>
                            <li class="ubs__register-item">
                                <h5 class="ubs__register-title">
                                    Пройдите процедуру сбора биометрических данных.
                                </h5>
                                <p class="ubs__register-text">
                                    Сотрудник банка сфотографирует вас и сделает аудиозапись голоса. Если у вас нет
                                    подтвержденной учетной записи портала
                                    Госуслуг, сотрудник поможет ее получить.
                                </p>
                            </li>
                            <li class="ubs__register-item">
                                <h5 class="ubs__register-title">
                                    Получите подтверждение о возможности удаленной идентификации.
                                </h5>
                                <p class="ubs__register-text">
                                    Процедура подтверждения обычно занимает несколько минут, но в отдельных случаях
                                    может потребовать до пяти дней.
                                </p>
                                <p class="ubs__register-text">
                                    В личном кабинете на портале Госуслуг появится отметка об успешной регистрации
                                    биометрических данных.
                                </p>
                            </li>
                        </ul>
                    </div>
                    <div class="ubs__contacts">

                    </div>
                </div>

            </div>
            </div>
        </section>

        <%= require('html-loader!./inc/footer.html') %>