@charset "UTF-8";

.def-slider {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  min-width: 0;
  /* Слайдер */
  /* Слайдер запущен */
  /* Слайдер с точками */
  /* Ограничивающая оболочка */
  /* Лента слайдов */
  /* Слайд */
  /* Слайд активный (показывается) */
  /* Слайд основной */
  /* Слайд по центру */
  /* Клонированный слайд */
  /* Стрелка */
  /*&:not(.arrows){
		.slick-arrow{
			display: none !important;
		}
	}
	&.arrows{
		.slick-list {
			flex: calc(100% - 60px) 0 0; // to account for the 2 arrows and their borders
			height: 100%;
		}
		.slick-arrow{
			cursor: pointer;
			font-size: 0;
			box-sizing: border-box;
			width: 25px;
			height: 25px;
			z-index: 10;
			border-left:none;
			border-bottom:none;
			border-right:5px solid #00B0AD;
			border-top:5px solid #00B0AD;
			background-color: transparent;
			border-radius:8%;
		}
		.slick-arrow.slick-prev{
			transform: rotate(-135deg);
		}
		.slick-arrow.slick-next{
			transform: rotate(45deg);
		}
		.slick-arrow.slick-disabled{
			border-color: #7dadac;
		}
	}*/
  /* Точки (булиты) */
}

.def-slider .slick-list {
  -webkit-box-flex: 100%;
  -ms-flex: 100% 0 0px;
  flex: 100% 0 0;
  height: 100%;
}

.def-slider .slick-track {
  height: 100%;
}

.def-slider:not(.dots) .slick-dots {
  display: none !important;
}

.def-slider.dots {
  /* Активная точка */
  /* Элемент точки */
}

.def-slider.dots .slick-dots {
  -webkit-box-flex: 100%;
  -ms-flex: 100% 0 0px;
  flex: 100% 0 0;
  margin: 50px 0 20px 0;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 0;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.def-slider.dots.slick-dots-right .slick-dots {
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  top: 0;
}

.def-slider.dots.slick-dots-center .slick-dots {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  top: 0;
}

.def-slider.dots.slick-dots-stick .slick-dots {
  margin-top: 0;
}

.def-slider.dots .slick-dots li {
  list-style: none;
}

.def-slider.dots .slick-dots li button {
  position: relative;
  padding: 0;
  margin: 0 15px;
  font-size: 0;
  background: linear-gradient(#FFF, #FFF) padding-box, linear-gradient(190deg, #002E82, #00A3E0) border-box;
  border-radius: 50%;
  border: 2px solid transparent;
  width: 16px;
  height: 16px;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.def-slider.dots .slick-dots li.slick-active button {
  border: 8px solid transparent;
}

@media screen and (min-width: 1440px) {
  .card-slider.desktop-dots-disable .slick-dots {
    display: none !important;
  }
}

.card-slider__slide {
  height: auto;
}

.card-slider__content-wrapper {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: var(--desktop-outer-padding, 0px 40px);
}

@media screen and (max-width: 576px) {
  .card-slider__content-wrapper {
    padding: var(--mobile-outer-padding, 20px 40px);
  }
}

/*# sourceMappingURL=def-slider.css.map */