.operations__kind-title.settlement-service__title{
    margin-left: 20px;
}
.settlement-service__item{
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}
.settlement-service__text{
    margin-left: 10px;
    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #5B5C5F;
}